{%extends "layout.html"%}
{%block content%}
<!-- Page content-->
<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Get in touch</h1>
                <p class="lead fw-normal text-muted mb-0">Please don't hesitate to reach out</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <div class="mb-4">
                        <h5><i class="bi bi-envelope-fill text-gradient"></i> <a href="mailto:milani.tommaso2004@gmail.com" class="text-decoration-none">milani.tommaso2004@gmail.com</a></h5>
                    </div>
                    <div class="mb-4">
                        <h5><i class="bi bi-phone-fill text-gradient"></i> <a href="tel:+393512345678" class="text-decoration-none">+39 331 388 3638</a></h5>
                    </div>
                    <div class="mb-4">
                        
                        <h5><i class="bi bi-linkedin text-gradient"></i> <a href="/linkedin" class="text-decoration-none">linkedin.com/in/milani-tommaso</a></h5>
                    </div>
                    <div class="mb-4">
                        <h5><i class="bi bi-github text-gradient"></i> <a href="/github" class="text-decoration-none">github.com/milanitommaso</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}
