{%extends "layout.html"%}
{%block content%}

<!-- Projects Section-->
<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">TwitchItalia Insights</h2>
                                <h6 class="mt-3"><a href="https://tca.milanitommaso.com/" class="text-decoration-none" target="_blank">TwitchItalia Insights Website</a></h6>
                                <h6 class="mt-3"><a href="/github/twitch-communities-analysis" class="text-decoration-none" target="_blank">GitHub Repository</a></h6>
                                <p>Project under development</p>
                            </div>
                            <div class="p-4">
                                <img class="img-fluid" src="/static/projects/twitchitaliainsiights.png" width="300" height="300" alt="..." />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Card 4 -->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">SubCanvas</h2>
                                <h6 class="mt-3"><a href="https://enkk.me/subcanvas" class="text-decoration-none" target="_blank">SubCanvas Website</a></h6>
                                <h6 class="mt-3"><a href="#" class="text-decoration-none" target="_blank">GitHub Repository</a></h6>
                                <p>Subcanvas is a website where an image is initially obscured and divided into small sections. Throughout the month, users a from specific Twitch chat can reveal sections of the image by subscribing or donating, with a new image presented each month. I developed the backend for this project, handling subscription and donation detection, and exposing data via APIs. The project was created in collaboration with <a href="https://twitch.tv/enkk" class="text-decoration-none" target="_blank">Enkk</a> (a streamer who uses this project) and lorenzozane.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Card 3-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">MyIpTracker</h2>
                                <h6 class="mt-3"><a href="/github/MyIpTracker" class="text-decoration-none" target="_blank">GitHub Repository</a></h6>
                                <p>MyIpTracker is a Python script that notifies the user when their public IP address changes. It does this by checking the public IP address and comparing it to the previous one, and if it detects a change, it sends a message to the user via Telegram bot.</p>
                            </div>
                            <img class="img-fluid" src="/static/projects/myiptracker.png" width="300" height="400" alt="..." />
                        </div>
                    </div>
                </div>
                <!-- Project Card 4-->
                <div class="card overflow-hidden shadow rounded-4 border-0">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">Personal Website</h2>
                                <h6 class="mt-3"><a href="/github/personal-website" class="text-decoration-none" target="_blank">GitHub Repository</a></h6>
                                <p>I made this personal website to showcase my skills, share experiences, connect with others and create professional opportunities. It's also a digital platform for my portfolio.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
            <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="/contact">Contact me</a>
        </div>
    </div>
</section>


{%endblock%}
