{%extends "layout.html"%}
{%block content%}

<!-- Page Content-->
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
        For an updated version of my resume, please <a href="/contact">contact me</a>.
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">May - Aug 2022</div>
                                    <div class="small fw-bolder">Software Developer Intern</div>
                                    <div class="small text-muted">TMG Impianti S.p.A.</div>
                                    <div class="small text-muted">San Martino di Lupari, (PD), Italy</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>I have developed two applications that automate repetitive office tasks, improving efficiency and enabling staff to focus on more valuable work.<br>
                                The first application translates the graphical interface of control panels into 4 or more languages with 2000 texts per language in about 1 minute. <br>
                                The second application builds a manual for a plant by merging 15 docx files in a few seconds. <br>
                                Both applications are developed in Python3 and have been successfully tested in industrial environments.</div></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Education Section-->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                <!-- Education Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">Sep 2023 - Present</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Università di Trento</div>
                                        <div class="small text-muted">Trento, Italy</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Bachelor Degree</div>
                                        <div class="small text-muted">Computer Science</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>I will attend university from September 2023</div></div>
                        </div>
                    </div>
                </div>
                <!-- Education Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2018 - 2023</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">ITIS E. Fermi</div>
                                        <div class="small text-muted">Bassano del Grappa, (VI), Italy</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">High School </div>
                                        <div class="small text-muted">Computer Science</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>Studied Computer Science, specializing in programming, algorithms, computer systems, and problem-solving. <br> Developed a solid foundation and a passion for continuous learning.</div></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <section>
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Skills</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Javascript</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Bootstrap</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Git</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Linux</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MySql</div></div>
                            </div>
                        </div>
                        <!-- awards list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-award"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Awards</span></h3>
                            </div>
                            <div class="row row-cols-1">
                                <div class="col-12 mb-4"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Special Mention for the use of Open Data in Sustainable Tourism Hackathon - 2022<a href="https://digitalinnovationhubvicenza.it/turismo-sostenibile-hackathon/" class="ms-3 text-decoration-none" target="_blank">Digital Innovation Hub Vicenza</a> <a href="https://www.confartigianatovicenza.it/turismo-sostenibile-un-hackathon-a-bassano/" class="ms-3 text-decoration-none" target="_blank">Confartigianato Vicenza</a></div></div>
                            </div>
                        </div>
                        <!-- courses and certifications list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-patch-check"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Courses and Certifications</span></h3>
                            </div>
                            <div class="row row-cols-1">
                                <div class="col-12 mb-4"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Summer School of Advanced Algorithms 2021. <a href="https://sites.google.com/unive.it/scuolaalgoritmi21" class="ms-3 text-decoration-none" target="_blank">More Info</a> </div></div>
                                <div class="col-12 mb-4"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Cisco CCNA 1 Routing and Switching: Introduction to Networks</div></div>
                                <div class="col-12 mb-4"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Cisco introduction to cybersecurity</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{%endblock%}
